<div class="card-body ">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h2>Basic skill</h2>
                <mat-list role="list" *ngFor="let basic of basics">

                    <mat-list-item role="listitem" class="bg-danger">
                        <li>{{basic.name}}</li>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <h2>skill</h2>
                <mat-list role="list" *ngFor="let skill of skills">

                    <mat-list-item role="listitem" class="bg-danger">
                        <li>{{skill.name}}</li>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h2>Certificeate</h2>
                <mat-list role="list" *ngFor="let cert of certs">
                    <mat-list-item role="listitem" class="bg-danger">
                        <li>{{cert.name}}</li>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>