<nav class="navbar navbar-expand-lg navbar-light bg-cos">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a routerLink="/aboutme" routerLinkActive='active' class="nav-link " aria-current="page">Aboutme</a>
                <a routerLink="/skill" routerLinkActive='active' class="nav-link ">Skill</a>
                <a routerLink="/contactme" routerLinkActive='active' class="nav-link">Contact</a>
                <a routerLink="/work" routerLinkActive='active' class="nav-link">workspace</a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>