<div class="card-body">
    <div class="row  d-flex justify-content-center">
        <div class="col-11">
            <div class="card">
                <h2>
                    <mat-icon class="icon-tranform">work_outline</mat-icon>ประสบการณ์ทำงาน
                </h2>
                <div class="row" *ngFor="let works of Works">
                    <div class="col-10">
                        <h4 class="pcenter">
                            {{works.pos}}
                        </h4>
                        <p class="pcenter">{{works.date }}</p>
                        <p class="pcenter">{{works.com}}</p>
                        <div class="nav-li" *ngFor="let dest of works.des">
                            <li>{{dest}}</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>