<div class="main-div">
    <mat-card class="example-card">
        <div class="img-center">
            <img mat-card-image src="../../../assets/img1.jpg" alt="Photo of a Shiba Inu" style="width: 250px; height: 250px;">
        </div>
        <mat-card-content *ngFor="let item of abouts; index as i">
            <div class="row bg-danger">
                <mat-icon class="col-2">{{item.icon}}</mat-icon>
                <p class="col-12">{{item.name}} <br>{{item.no}}<br>{{item.grah}}</p>
            </div>
        </mat-card-content>
        <!-- <mat-card-content>
            <div class="row bg-danger">
                <mat-icon class="col-2">school</mat-icon>
                <p class="col-12">{{[item]}} <br> {{item.index}}
                </p>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="row bg-danger">
                <mat-icon class="col-2">school</mat-icon>
                <p class="col-12"> Kanchanapisekwittayalai Chachengsao <br> high school Science - Mathematics
                </p>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div class="row bg-danger">
                <mat-icon class="col-2">school</mat-icon>
                <p class="col-12">King Mongkut's Institute of Technology Ladkrabang
                    <br> computer science
                    <br> 2.06
                </p>
            </div>
        </mat-card-content>-->
    </mat-card>
</div>